# Redirige todas las direcciones url a control.php
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ control.php?PATH_INFO=$1 [L,QSA]
###############################################################3
# Hace que no se muestre la extensión del archivo
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Hace que aparezca una / al final de la dirección
#RewriteRule ^([^/]+)/$ $1.php
#RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
#RewriteRule (.*)$ /$1/ [R=301,L]