<!DOCTYPE html>
<html lang="es">
<head>
	<script type="text/javascript" src="http://localhost/SGAC_v1.0/trunk/view/js/jquery/jquery-3.1.0.js"></script>

  <meta charset="UTF-8">
  <title>Login::Alumnos</title>
  <link rel="stylesheet" href="http://localhost/SGAC_v1.0/trunk/view/css/style.css">
</head>
<body> 
	<header id="cabecera"><h1>ACTIVIDADES COMPLEMETARIAS DEL ITSZ</h1></header>
	<section id="formulario">
		<p id="titulo">Ingresa Como Alumno</p>
		<form action="">
			<input type="texto" id="numero de control" name="numero de control" placeholder="Numero de Control">
				<input type="password" id="pass" name="contraseña" placeholder="Contraseña">
				<input type="submit" value="Ingresar" id="boton">
				<label><h3>Ingresar por QR</h3></label>
	</section>
	<label id="L"> ingrasar como instructur</label>
</body>
</html>
  