<!DOCTYPE html>
<html lang="es">
<head>
  <title>Login::Alumnos</title>


  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://localhost/SGAC_v1.0/trunk/view/css/main_style.css">
</head>


<body>
  <form action="">
    <h2>Ingresar como Alumno</h2>
    
      <input type="text" name="numero de control" placeholder="Numero de Control"/>
        <input type= "password" name="password" placeholder="Contraseña"/>
        <input type="button" value="Ingresar" id="buton">
        <label>ingresa por Qr</label>
</form>
</body>
</html>
          

